.card {
	text-align: center;
	margin: 1.2em;
	max-width: 27em;
	max-height: 48em;
	padding-bottom: 10em;
	border-radius: 1em;
	animation: shadow-kf 2s forwards;
}

@keyframes shadow-kf {
	from {
		box-shadow: 0px 1.83px 1px 0px rgba(0,0,0,0.26),
					0px 0px 1.33px 0px rgba(0,0,0,0.08);
	}
	to {
		box-shadow: 0px 7.33px 4px 0px rgba(0,0,0,0.26),
					0px 0px 5.33px 0px rgba(0,0,0,0.08);
	}
}

.head {
	background: white;
	padding: 0.5em 0 0.25em 0;
}

.logoDiv {
	font-size: 36px;
	color: white;
}

.logo {
	border-radius: 1.25em;
	padding: 0.2em;
}

.title {
	font-size: 1.75em;
}

.content {
	padding: 1em;
}

.desc {
	color: white;
	font-size: 0.75em;
}

.copy {
	margin: 1em;
}
